*{
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    margin: 0;
    overflow: hidden;
}

canvas{
    z-index: 300;
    background-color: #222831;
}

.rv{
    display: flex;
    position: absolute;
    width: 450px;
    height: 550px;
    background: #393E46;
    border: 2px solid #00ADB5;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 40px;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 0;
}

.rvRow{
    display: flex;
    height: 60px;
    width: 400px;
    margin: 0 20px;
    background-color: #222831;
    border-radius: 5px;

}
.grouperPanel{
    display: none;
    position: absolute;
    top: 500px;
    right: 650px;
    bottom: 50px;
    left: 650px;
    background: #393E46;
    border: 5px solid #EEEEEE;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-radius: 20px;
}

.btnPanel{
    display: none;
}

.welcomeScreen{
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1000px;
    height: 500px;
    margin: auto;
    text-align: center;
    background-color: #393E46;
    color: #EEEEEE;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    border-radius: 20px;
}

.title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: #393E46;
    align-items: center;
    justify-content: center;
}

p{
    margin: 0;
}

.title p{
    margin: 0 5px;
}

.row{
    margin: 5px;
    display: flex;
}

.titleContainer{
    margin: auto 0;
}

.mainName{
    position: relative;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 50px;
}

.startBtn{
    position: relative;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 300px;
    color: #222831;
    background-color: #00ADB5;
}

.selectGrid{
    /* background-color: blue; */
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    /* top: 100px; */
    /* right: 50px;
    left: 50px; */
    justify-content: center;
    gap: 20px;
}


.selectGrid .row{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

#selectRow .selectGrid button{
    width: 150px;
    height: 80px;
}

#selectRow .selectGrid{
    gap: 10px;
}
#selectRow .selectGrid .row{
    gap: 20px;
}

#selectRow .panelContainer{
    gap: 10px;
}

#selectRow .optionsGrid{
    gap: 80px;
}

button{
    background-color: #222831;
    border: none;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    font-size: 60px;
    font-weight: bold;
    color: #00ADB5;
    box-shadow: 5px 4px 1px #4c4e52;
}

button:hover{
    opacity: .6;
    cursor: pointer;
}

button:active{
    box-shadow: 2px 1px 1px #4c4e52;
    transform: translate(3px, 3px);
}


.title{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: #EEEEEE;
}

.exitBtn{
    background-color: #f44336;
}

.panelContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    gap: 30px;

    align-items: center;
    justify-content: center;

}

.optionsGrid{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #222831;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    /* right: 0; */
}

#optButton{
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 1px #4c4e52;
}

#optButton:hover{
    opacity: 0.6;
}

#optButton:active{
    box-shadow: 1px 1px 1px #4c4e52;
    transform: translate(2px, 2px);

}

.sendBtn{
    background-color: #0DB44F;
}

.backBtn{
    background-color: #43A1F8;
}

.singleBtn{
    background-color: #43A1F8;
}

.waitBtn{
    background-color: #FCE51C;
}

#numGuests{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    gap: 30px;
}

.fa-solid{
    color: #222831;
}

.counterPanel{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #393E46;
    width: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
    position: absolute;
    border-radius: 5px;
}

.counterPanel  h3{
    margin: 0;
}

.counterItem{
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
}

.counterItem .timeText{
    color: #f44336;
    
}

.counterItem .row{
    font-size: 25px;
    font-weight: bold;
}

.gameOverScreen{
    display: none;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1000px;
    height: 600px;
    margin: auto;
    text-align: center;
    background-color: #393E46;
    color: #EEEEEE;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    border-radius: 20px;
}



.rstBtn{
    font-size: 40px;
}

.gameOvrExitBtn{
    font-size: 40px;
    background-color: #9B9C9D;
    color: #EEEEEE;
}

.gameOvrBtns{
    display: flex;
    gap: 30px;
}

.points{
    /* background-color: #0DB44F; */
    width: 300px;
    display: flex;
    flex-direction: column;
}

.pointName{
    margin-right: auto;
}